%h2=@referee.full_name

%h3=I18n.t('referee.for_following_seminars')
%h4
  Zukünftige Seminare
%ul.ui.list
  - @referee.seminars.select{|s| s.date_from >= Date.today}.each do |seminar|
    %li.ui
      =I18n.l(seminar.date_from, :format => :short)
      =I18n.t('to')
      =I18n.l(seminar.date_from, :format => :short)
      =seminar_link seminar
      (#{I18n.t('with')} #{(seminar.referees - [@referee]).map(&:full_name).join(" " + I18n.t('and') +" ")})
%h4
  Bereits gehaltene Seminare
%ul.ui.list
  - @referee.seminars.select{|s| s.date_from <= Date.today}.each do |seminar|
    %li.ui
      =I18n.l(seminar.date_from, :format => :short)
      =I18n.t('to')
      =I18n.l(seminar.date_from, :format => :short)
      =seminar_link seminar
      (#{I18n.t('with')} #{(seminar.referees - [@referee]).map(&:full_name).join(" " + I18n.t('and') +" ")})


