%h2=@referee.full_name

%h3 Referent für folgende Seminare
%ul.ui.list
  - @referee.seminars.each do |seminar|
    %li.ui
      =I18n.l(seminar.date_from, :format => :short)
      bis
      =I18n.l(seminar.date_from, :format => :short)
      =seminar_link seminar
      (mit #{(seminar.referees - [@referee]).map(&:full_name).join(" und ")})

