html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
  /*font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;*/
  height: 100%;
  background-color: #CBE061;
  padding: 0;
  margin: 0;
}

#head {
  width: 100%;
  /*
  background-image:url('/images/7l_header.png.jpeg');
  background-size: cover;
  background-origin: content-box;
  background-repeat: no-repeat;
  */
}

#head_bg {
  width: 100%;
  float:left;
  position:relative;
  background: url(/images/7l_header.green.jpeg);
  background-repeat: none;
  background-size: cover;
  -webkit-box-shadow: inset 498px 0px 259px -33px rgba(255,255,255,0.9);
  -moz-box-shadow: inset 498px 0px 259px -33px rgba(255,255,255,0.9);
  box-shadow: inset 498px 0px 259px -33px rgba(255,255,255,0.9);
}

#head_logo {
  position: absolute;
  width: 100%;
  left:3em;
  top: 2%;
}

#corner_menu {
  position: absolute;
  right: 2%;
  height:100%;
  top: 6%;
}

#menu {
  position:relative;
  top: -20px;
  /*
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
  /*
  background-image:url('/images/seminare_bg.jpg');
  background-size: cover;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100px;
  */
}
h2.calendar {
  font-size: 12px;
}
ul.calendar {
  font-size: 20px;
}
ul.calendar li {
  list-style: none;
}
ul.calendar li a {
  color: #f60;
}
a {
  color: #010;
}
i:hover {
  color: #009FDA;
}
i.plop:hover {
  color: #009FDA;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.align-center {
  text-align: center;
}
.blank {
  text-decoration: none;
}
#no-foot {
  min-height: 100%;
}
#content {
  overflow: auto;
  padding-bottom: 4em;
}
#footer {
  height: 4em;
  position:relative;
  margin-top: -4em;
  clear:both;
}
.content.seminardate {
  color: grey;
}
.seminaritem {
  box-shadow: 1px 1px 1px 1px rgba(10, 113, 180, 0.2) !important;
}
.seminaritem .content .main {
  height: 350px;
}
.seminaritem .main .name {
  height: 60px;
  text-overflow: ellipsis;
}
.seminaritem .description {
  height: 290px;
}
.seminaritem .description-text {
  height: 230px;
}
.seminaritem .description-text a {
 display:inline-block;
 text-overflow:ellipsis;
}
.seminarinfobox {
  color: #0a71b4 !important;
  background-color: #ffffff !important;
}
.seminarinfobox h3,h4,h5 {
  color: #0a71b4 !important;
}
.description-link {
  height:40px;
  position:relative;
  bottom:10px;
}
.bgfit {
  background-size: contain;
  background-repeat: no-repeat;
}
.logogreen {
  color: #7ab031 !important;
}
.bg-logoblue {
  background-color: #0a71b4 !important;
  color: white !important;
}
.bg-logogreen {
  background-color: #7ab031 !important;
}
.bg-logolightgreen {
  background-color: #b2dc23 !important;
}
.logored {
  color: #e2001a !important;
}
.logoblue {
  color: #0a71b4 !important;
}
.logoorange {
  color: #f29400 !important;
}
.logolightgreen {
  color: #b2dc23 !important;
}
.logobrown {
  color: #bf935b !important;
}
#entry .item.entry {
  box-shadow: 0px 0px 4px 4px rgba(0,0,240,0.6);
  margin-left: -45px;
  margin-right: 70px;
}
#entry .description {
  margin-top: 1em;
}
