.ui.one.column.page.grid
  .column
    #category_list(style="float:right;position:relative;right:0px;top:0px")
      %a(href="")
        %i.plop.grid.layout.icon
      %a(href="")
        %i.plop.list.layout.icon.active
    %h2.header.ui.logoblue
      =t('seminars.current_categories')
    %ul
      - today = Date.today
      - three_month_ago = (today - 90)
      - @categories.sort_by(&:name).select{|c| c.last_seminar && c.last_seminar.date_from >= three_month_ago}.each do |category|
        %li
          =category_link category
          =category.description
          .ui.label=category.seminars.length

    - old_topics = @categories.select{|c| c.last_seminar && c.last_seminar.date_from <= three_month_ago}
    - if !old_topics.empty?
      %h2.header.ui.logoblue
        =t('seminars.past_categories')
      %ul
        - old_topics.each do |category|
          %li
            =category_link category
            =category.description
            .ui.label=category.seminars.length
