#category_list(style="float:right;position:relative;right:0px;top:0px")
  %a(href="")
    %i.plop.grid.layout.icon
  %a(href="")
    %i.plop.list.layout.icon.active
%h2.header.ui
  =t('seminars.current_categories')
%ul
  - begin_year = Date.civil(Date.today.year, 1 , 1)
  - @categories.sort_by(&:name).select{|c| c.last_seminar && c.last_seminar.date_from >= begin_year}.each do |category|
    %li
      =category_link category
      =category.description
      .ui.label=category.current_year_and_later_seminars.length

-# Delete this section in future.
-#- old_topics = @categories.select{|c| c.last_seminar && c.last_seminar.date_from <= begin_year}
-#- if !old_topics.empty?
-#  %h2.header.ui
-#    =t('seminars.past_categories')
-#  %ul
-#    - old_topics.each do |category|
-#      %li
-#        =category_link category
-#        =category.description
-#        .ui.label=category.seminars.length
  
