%br(style="clear:both;")
#menu.ui.menu{:class => @menu.class_has_submenu}
  .menu
    =link_to I18n.t('seminars.calendar'), url(:seminar, :index), :class=>"item #{@menu.class_calendar}"
    =link_to I18n.t('seminars.categories'), url(:categories, :index), :class=>"item #{@menu.class_categories}"
    =link_to I18n.t('seminars.referees'), url(:seminar, :referees), :class=>"item #{@menu.class_referees}"
  -if @menu && @menu.has_submenu?
    .ui.sub.menu.tiered
      -#.right.menu
      -#  %a.item(href="")
      -#    %i.plop.grid.layout.icon.active
      -#  %a.item(href="")
      -#    %i.plop.list.layout.icon
      - if @menu.seminar_calendar
        %a.item{:href => url(:seminar, :current), :class => @menu.class_current}
          aktuell
        %a.item{:href => url(:seminar, :list, :year => this_year), :class => @menu.class_year(Date.today.year)}
          =this_year
        %a.item{:href => url(:seminar, :list, :year => next_year), :class => @menu.class_year(Date.today.year + 1)}
          =next_year
          - if @menu.seminar_calendar.year
            .ui.sub.menu
              %a.item.logored{:href => url(:seminar, :list, :year => @menu.seminar_calendar.year)}
                alle
              - I18n.t(:"date.month_names").each_with_index do |month, idx|
                %a.logoblue.item{:href => url(:seminar, :list, :year => @menu.seminar_calendar.year, :month => idx), :class => @menu.class_month(idx)}
                  =month

      - if @menu.all
        %a.item{:href => url(:seminar, :current)}
          aktuell
        %a.item
          archive
        - I18n.t(:"date.month_names").each_with_index do |month, idx|
          %a.item{:href => "##{idx}"}=month
        %a.item
          zukunft
      -#- if @menu.categories
      -#  -#%a.item
      -#  -#  all
      -#  -#- @categories.each do |category|
      -#  -#  %a.item{:href => category_url(category)}=category.name
      -#  -#%a.item
      -#  -#  Archiv

