%br(style="clear:both;")
#menu.ui.menu{:class => @menu.class_has_submenu}
  .menu
    =link_to I18n.t('seminars.calendar'), url(:seminar, :index), :class=>"item #{@menu.class_calendar}"
    =link_to I18n.t('seminars.categories'), url(:categories, :index), :class=>"item #{@menu.class_categories}"
    =link_to I18n.t('seminars.referees'), url(:seminar, :referees), :class=>"item #{@menu.class_referees}"
    .right.menu
      .item
        .ui.dropdown
          .text
            < wichtige Informationen ... >
            .i.dropdown.icon
          .menu
            %a.item(href="http://siebenlinden.de/index.php?id=110" target="_new")
              Gästebetrieb
            %a.item(href="http://siebenlinden.de/index.php?id=62" target="_new")
              Bildung für Nachhaltigkeit
            %a.item(href="http://siebenlinden.de/index.php?id=88" target="_new")
              Wissenswertes zur Anmeldung
            %a.item(href="http://siebenlinden.de/index.php?id=85" target="_new")
              Übernachten
            %a.item(href="http://siebenlinden.de/index.php?id=22" target="_new")
              Anreise
            %a.item(href="http://siebenlinden.de/index.php?id=142" target="_new")
              Barrierefreiheit
            %a.item(href="http://siebenlinden.de/index.php?id=87" target="_new")
              Bildungsprämie
      :javascript
        $('.ui.dropdown')
          .dropdown()
          ;
      %a.item.logored(href="http://siebenlinden.de")
        zurück zu siebenlinden.de
        
  -if @menu && @menu.has_submenu?
    .ui.sub.menu.tiered
      -#.right.menu
      -#  %a.item(href="")
      -#    %i.plop.grid.layout.icon.active
      -#  %a.item(href="")
      -#    %i.plop.list.layout.icon
      - if @menu.seminar_calendar
        %a.item{:href => url(:seminar, :current), :class => @menu.class_current}
          aktuell
        %a.item{:href => url(:seminar, :list, :year => this_year), :class => @menu.class_year(Date.today.year)}
          =this_year
        %a.item{:href => url(:seminar, :list, :year => next_year), :class => @menu.class_year(Date.today.year + 1)}
          =next_year
          - if @menu.seminar_calendar.year
            .ui.sub.menu
              %a.item.logored{:href => url(:seminar, :list, :year => @menu.seminar_calendar.year)}
                alle
              - I18n.t(:"date.month_names").each_with_index do |month, idx|
                %a.logoblue.item{:href => url(:seminar, :list, :year => @menu.seminar_calendar.year, :month => idx), :class => @menu.class_month(idx)}
                  =month

      - if @menu.all
        %a.item{:href => url(:seminar, :current)}
          aktuell
        %a.item
          archive
        - I18n.t(:"date.month_names").each_with_index do |month, idx|
          %a.item{:href => "##{idx}"}=month
        %a.item
          zukunft
      -#- if @menu.categories
      -#  -#%a.item
      -#  -#  all
      -#  -#- @categories.each do |category|
      -#  -#  %a.item{:href => category_url(category)}=category.name
      -#  -#%a.item
      -#  -#  Archiv

