!!! 5
%html
  %head
    %title Gusy
    %link(rel="stylesheet" type="text/css" class="ui" href="/stylesheets/semantic.min.css")
    %link(rel="stylesheet" type="text/css" class="ui" href="/stylesheets/semantic.css")
    %link(rel="stylesheet" type="text/css" class="ui" href="/stylesheets/gusy.css")
    %script(src="/javascripts/semantic.min.js")
    %script(src="/javascripts/semantic.js")
  %body.ui
    #header
      #menu.ui.menu
        =link_to 'Alle Seminare', url(:seminar, :index), :class=>"item"
        =link_to 'Kategorien', url(:categories, :index), :class=>"item"
        =link_to 'Referenten', url(:seminar, :referees), :class=>"item"
    #messages
      = flash_tag :notice
      = flash_tag :failure
      = flash_tag :success
    #content
      = yield
    #sidebar
    #footer
      Sieben Linden Gusy
