!!! 5
%html
  %head
    %title Gusy
    %link(rel="stylesheet" type="text/css" class="ui" href="/stylesheets/semantic.min.css")
    %link(rel="stylesheet" type="text/css" class="ui" href="/stylesheets/gusy.css")
    %script(src="/javascripts/jquery-2.1.1.min.js")
    %script(src="/javascripts/semantic.min.js")
  %body.ui
    #no-foot
      #topheader
        = partial('menu', :object => @menu)
      #messages
        - if flash[:notice]
          .ui.message
            .header=flash[:notice]
        - if flash[:success]
          .ui.success.message
            .header=flash[:success]
        - if flash[:failure]
          .ui.error.message
            %center
              .header=flash[:failure]
      #content(style="height:100%;")
        = yield
      #sidebar
    #footer.ui.segment
      .ui.column
        .one.column.align-center
          Sieben Linden Guest System
          | Copyright 2014 Freundeskreis Ökodorf e.V.
          |
          %a(href="/impressum") Impressum
