!!! 5
%html
  %head
    %title Gusy
  %body
    #header
      #menu
        %ul
          %li=link_to 'Alle Seminare', url('seminar', 'index')
          %li=link_to 'Kategorien', url('categories', 'index')
    #content
      = yield
    #sidebar
    #footer
      Sieben Linden Gusy
