!!! 5
%html
  %head
    %title Gusy
    %link(rel="stylesheet" type="text/css" class="ui" href="/stylesheets/semantic.min.css")
    %link(rel="stylesheet" type="text/css" class="ui" href="/stylesheets/semantic.css")
    %link(rel="stylesheet" type="text/css" class="ui" href="/stylesheets/gusy.css")
    %script(src="/javascripts/semantic.min.js")
    %script(src="/javascripts/semantic.js")
  %body.ui
    #header
      #menu.ui.menu
        =link_to 'Alle Seminare', url(:seminar, :index), :class=>"item"
        =link_to 'Kategorien', url(:categories, :index), :class=>"item"
        =link_to 'Referenten', url(:seminar, :referees), :class=>"item"
    #messages
      - if flash[:notice]
        .ui.message
          .header=flash[:notice]
      - if flash[:success]
        .ui.success.message
          .header=flash[:success]
      - if flash[:failure]
        .ui.error.message
          .header=flash[:failure]
    #content
      = yield
    #sidebar
    #footer
      Sieben Linden Gusy
