!!! 5
%html
  %head
    %title=@title || "Gusy - Seminare und Workshops in Sieben Linden"
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %link(rel="stylesheet" type="text/css" class="ui" href="/stylesheets/semantic.min.css")
    %link(rel="stylesheet" type="text/css" class="ui" href="/stylesheets/gusy.css")
    %script(src="/javascripts/jquery-2.1.1.min.js")
    %script(src="/javascripts/semantic.min.js")
  %body.ui
    #no-foot
      #topheader
        = partial('head')
        = partial('menu', :object => @menu)
      %br(style="clear:both;")
      #messages
        - if flash[:notice]
          .ui.message
            .header=flash[:notice]
        - if flash[:success]
          .ui.success.message
            %center
              .header
                %i.icon.ok.sign
                =flash[:success]
                %i.icon.smile.large
        - if flash[:failure]
          .ui.error.message
            %center
              .header
                %i.icon.warning
                =flash[:failure]
                %i.icon.frown.large
      #content(style="height:100%;")
        = yield
      -#sidebar
    #footer.ui.segment
      .ui.column.logoblue
        .one.column.align-center
          Sieben Linden Guest System
          | Copyright 2014,2015,2016 Freundeskreis Ökodorf e.V.
          |
          %a.logoblue(href="/impressum") Impressum
