!!! 5
%html
  %head
    %title Gusy
    %link(rel="stylesheet" type="text/css" class="ui" href="/stylesheets/semantic.min.css")
    %link(rel="stylesheet" type="text/css" class="ui" href="/stylesheets/semantic.css")
    %link(rel="stylesheet" type="text/css" class="ui" href="/stylesheets/gusy.css")
    %script(src="/javascripts/semantic.min.js")
    %script(src="/javascripts/semantic.js")
  %body.ui
    #topheader
      #menu.ui.menu
        =link_to I18n.t('seminars.all'), url(:seminar, :index), :class=>"item"
        =link_to I18n.t('seminars.categories'), url(:categories, :index), :class=>"item"
        =link_to I18n.t('seminars.referees'), url(:seminar, :referees), :class=>"item"
        .right.menu
          .ui.dropdown.link.item
            = I18n.t('language')
            %i.dropdown.icon
            .menu.ui.transition.hidden
              %a.item bla
              %a.item bla
              %a.item bla
          -#  =link_to "#{I18n.locale}", :class=>"item"
          .item
            %form.item(action="/seminar/search" method="GET" class="" style="padding:0px;margin:0px")
              .ui.icon.input.item
                %input{:placeholder => I18n.t('search'), :name =>"search_term"}
              %i.search.link.icon
    #messages
      - if flash[:notice]
        .ui.message
          .header=flash[:notice]
      - if flash[:success]
        .ui.success.message
          .header=flash[:success]
      - if flash[:failure]
        .ui.error.message
          .header=flash[:failure]
    #content
      = yield
    #sidebar
    #footer
      Sieben Linden Gusy
