!!! 5
%html
  %head
    %title Gusy
    %link(rel="stylesheet" type="text/css" class="ui" href="/stylesheets/semantic.min.css")
    %link(rel="stylesheet" type="text/css" class="ui" href="/stylesheets/gusy.css")
    %script(src="/javascripts/semantic.min.js")
  %body.ui
    #content
      = yield
